<div id="action-recognition-labeling">
    <sly-style>

        #action-recognition-labeling .disabled-background-fix .sly-card-disable-overlay {

        <!--        border-radius: 18px;-->

        top: -18px;
        bottom: -18px;
        left: -25px;
        right: -25px;

        }

        #action-recognition-labeling .custom-sly-card-border-radius {
        <!--        border-radius: 18px;-->
        <!--        padding: 16px 20px;-->
        }

        #action-recognition-labeling .beautiful-table {
        border-collapse: collapse;
        overflow-x: scroll;

        }
        #action-recognition-labeling .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        #action-recognition-labeling .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        #action-recognition-labeling .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }


        #action-recognition-labeling .disable_overflow_by_x_for_table .el-table__body-wrapper {
        overflow-x:hidden;
        }

        #action-recognition-labeling .hide-percentage-from-progress .el-progress__text {
        display: none;
        }


        #action-recognition-labeling .custom-collapse {
        cursor:pointer;
        transition: all 0.2s;


        }

        #action-recognition-labeling .custom-collapse:hover {

        color: #039aff;
        }

        #action-recognition-labeling .div-without-paddings .content {
        padding:0 0;

        }
        #action-recognition-labeling .solo-button-style {

        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 20px;
        width: 22px;

        border-radius: 6px;
        margin: 0 6px;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.1s;

        border: 1px solid #bfbdbd;

        }

        #action-recognition-labeling .copy-button-style {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        background: #fff;
        border: 1px solid #c4c4c4;
        color: #1f2d3d;
        margin: 0;

        padding: 7px 9px;
        font-size: 13px;
        border-radius: 8px;

        transition: all 0.1s;

        width: 140px;
        margin: 2px 0;


        }


        #action-recognition-labeling .tooltip-button-style {

        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 20px;
        width: 72px;

        border-radius: 6px;
        margin: 0 6px;
        font-weight: 400;

        cursor: pointer;
        transition: all 0.1s;

        border: 1px solid #ff4949;

<!--        background: #ff4949;-->
        color: #ff4949;

        }

        #action-recognition-labeling .black-to-gold-style {
        color: black;

        }

        #action-recognition-labeling .black-to-gold-style:hover * {
        }

        #action-recognition-labeling .labeling-tool-full-height .content-wrapper {
        height: 100%;
        }

        #action-recognition-labeling .labeling-tool-full-height .el-tabs__content {
        height: calc(100% - 40px);
        }

        #action-recognition-labeling .labeling-tool-full-height .el-tab-pane {
        height: 100%;
        }

    </sly-style>

    {% include 'src/ui/connect_to_controller.html' %}


    <div style="height: fit-content; display: flex;  flex-direction: row; justify-content: flex-start; align-items: stretch">

        <div id="left-visual-container"
             style="width: 60%; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
            {% include 'src/ui/control_board.html' %}
            {% include 'src/ui/video_player.html' %}
        </div>

        <div style="width: 40%; position: relative; margin-bottom: 10px; margin-right: 10px;"
             id="right-visual-container">
            {% include 'src/ui/labeling_tool.html' %}

        </div>
    </div>

    {% include 'src/ui/timeline.html' %}


    <el-dialog
            title="Finish labeling video?"
            :visible.sync="state.showFinishDialog"
            size="tiny">
        <span>All changes will be saved. </span><br>
        <span>Once confirmed, you cannot change the tags.</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="state.showFinishDialog=false">Cancel</el-button>

            <el-button type="primary" class="regular"
                       @click="state.showFinishDialog=false; state.buttonsLoading['finishLabeling']=true;  command('finish_labeling');">
                Confirm
            </el-button>
        </span>
    </el-dialog>
</div>