<div id="action-recognition-labeling">
    <sly-style>
        #action-recognition-labeling .custom-sly-card-border-radius {
        border-radius: 35px;
        padding: 18px 24px;
        }

        #action-recognition-labeling .beautiful-table {
        border-collapse: collapse;
        overflow-x: scroll;

        }
        #action-recognition-labeling .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        #action-recognition-labeling .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        #action-recognition-labeling .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }


        #action-recognition-labeling .disable_overflow_by_x_for_table .el-table__body-wrapper {
        overflow-x:hidden;
        }

        #action-recognition-labeling .hide-percentage-from-progress .el-progress__text {
        display: none;
        }


        #action-recognition-labeling .custom-collapse {
        cursor:pointer;
        transition: all 0.2s;


        }

        #action-recognition-labeling .custom-collapse:hover {

        color: #039aff;
        }

        #action-recognition-labeling .div-without-paddings .content {
        padding:0 0;

        }
    </sly-style>

    {% include 'src/ui/connect_to_controller.html' %}
    {% include 'src/ui/control_board.html' %}




</div>